pre code {
    background: inherit;
}

code {
    font-family: 'Source Code Pro';
}

.vbscript {
	color: #25239c;
	opacity: 1 !important;
}

.vbscript .keyword {
	color: #9c3f15;
}

.center {
    text-align: center;
}

.fa-sfeir:before {
    content : '\2630';
}

#bio {
    color: white;
    background: black;
}

#bio li {
    margin-bottom: 50px;
}

#bio .sfeir {
    color: #ff6519;
}

#bio .fa {
    margin-right: 50px;
}

.smaller {
    font-size : 45%;
}