a {
    font-style: italic;
}

pre code {
    background: inherit;
}

code {
    font-family: 'Source Code Pro';
}

.vbscript {
	color: #25239c;
	opacity: 1 !important;
}

.vbscript .keyword {
	color: #9c3f15;
}

.center {
    text-align: center;
}

.offset {
    margin-left: 150px;
}

.fa-sfeir:before {
    content : '\2630';
}

.picture {
    height: 500px;
}

#bio {
    color: white;
    background: black;
}

#bio li {
    margin-bottom: 50px;
}

#bio .sfeir {
    color: #ff6519;
}

#bio .fa {
    margin-right: 50px;
}

#what-is-yeoman .fa-question {
    position: relative;
    font-size: 30px;
    float: right;
    right: 150px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}

.smaller {
    font-size : 45%;
}